alabaster==0.7.12
anyio==3.6.2
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
attrs==19.3.0
Babel==2.11.0
backcall==0.2.0
beautifulsoup4 @ file:///home/linux1/recipes/ci/beautifulsoup4_1610988766420/work
bitstring==3.1.7
bleach==5.0.1
-e git+https://github.com/Xilinx/brevitas.git@a5b71d6de1389d3e7db898fef72e014842670f03#egg=brevitas
brotlipy==0.7.0
cachetools==5.2.0
certifi==2022.12.7
cffi @ file:///tmp/build/80754af9/cffi_1605538068321/work
cfgv==3.3.1
chardet @ file:///tmp/build/80754af9/chardet_1605303185383/work
clize==4.1.1
conda==4.9.2
conda-build==3.21.4
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1603018141399/work
cryptography @ file:///tmp/build/80754af9/cryptography_1605544487601/work
cycler==0.11.0
dataclasses-json==0.5.7
# Editable Git install with no remote (dataset-loading==0.0.4)
-e /src/dataset-loading
deap==1.3.1
decorator==4.4.2
defusedxml==0.7.1
dependencies==2.0.1
distlib==0.3.6
dnspython==2.1.0
docrep==0.2.7
docutils==0.18.1
entrypoints==0.4
exceptiongroup==1.0.4
execnet==1.9.0
fastjsonschema==2.16.2
filelock==3.8.2
flatbuffers==22.10.26
future==0.18.2
future-annotations==1.0.0
glob2 @ file:///home/linux1/recipes/ci/glob2_1610991677669/work
google-auth==2.15.0
google-auth-oauthlib==0.8.0
gspread==3.6.0
identify==2.5.11
idna @ file:///tmp/build/80754af9/idna_1593446292537/work
imagesize==1.4.1
importlib-metadata==5.2.0
importlib-resources==5.10.1
iniconfig==1.1.1
ipykernel==5.5.5
ipython @ file:///tmp/build/80754af9/ipython_1610724799192/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets==8.0.4
jedi @ file:///tmp/build/80754af9/jedi_1606932564285/work
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.17.3
jupyter==1.0.0
jupyter-client==7.4.8
jupyter-console==6.4.4
jupyter-core==5.1.0
jupyter-events==0.5.0
jupyter-server==2.0.4
jupyter-server-terminals==0.4.3
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.5
kiwisolver==1.4.4
libarchive-c @ file:///home/linux1/recipes/ci/python-libarchive-c_1610974153025/work
MarkupSafe==2.0.1
marshmallow==3.19.0
marshmallow-enum==1.5.1
matplotlib==3.3.1
mip==1.13.0
mistune==2.0.4
mkl-fft==1.2.0
mkl-random==1.1.1
mkl-service==2.3.0
mypy-extensions==0.4.3
nbclassic==0.4.8
nbclient==0.7.2
nbconvert==7.2.7
nbformat==5.7.1
nest-asyncio==1.5.6
netron==6.3.3
networkx==2.8
nodeenv==1.7.0
notebook==6.5.2
notebook-shim==0.2.2
numpy==1.23.5
oauthlib==3.2.2
od==2.0.2
olefile==0.46
onnx==1.11.0
onnxoptimizer==0.2.6
onnxruntime==1.11.1
packaging==22.0
pandas==1.1.5
pandocfilters==1.5.0
parso==0.7.0
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
Pillow==9.3.0
pkginfo==1.7.0
pkgutil-resolve-name==1.3.10
platformdirs==2.6.0
pluggy==1.0.0
pre-commit==2.9.2
prometheus-client==0.15.0
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1602688806899/work
protobuf==3.20.1
psutil @ file:///tmp/build/80754af9/psutil_1598370257551/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
Pygments==2.4.1
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1605545627475/work
pyparsing==3.0.9
pyrsistent==0.19.2
PyScaffold==3.2.1
PySocks @ file:///tmp/build/80754af9/pysocks_1605305779399/work
pytest==7.2.0
pytest-dependency==0.5.1
pytest-forked==1.4.0
pytest-parallel==0.1.0
pytest-xdist==2.4.0
python-dateutil==2.8.2
python-etcd==0.4.5
python-json-logger==2.0.4
pytz @ file:///tmp/build/80754af9/pytz_1608922264688/work
PyYAML==5.3.1
pyzmq==24.0.1
-e git+https://github.com/fastmachinelearning/qonnx.git@398a0ecfcb32407c0a3df39246cf6d2bca02886c#egg=qonnx
qtconsole==5.4.0
QtPy==2.3.0
requests @ file:///tmp/build/80754af9/requests_1592841827918/work
requests-oauthlib==1.3.1
rsa==4.9
ruamel-yaml==0.15.87
scikit-learn==0.24.1
scipy==1.5.2
Send2Trash==1.8.0
setproctitle==1.3.2
setupext-janitor==1.1.2
sigtools==2.0.3
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve @ file:///tmp/build/80754af9/soupsieve_1607965878077/work
Sphinx==5.0.2
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tblib==1.7.0
tclwrapper==0.0.1
terminado==0.17.1
threadpoolctl==3.1.0
tinycss2==1.2.1
tokenize-rt==4.2.1
toml==0.10.2
tomli==2.0.1
toposort==1.5
torch==1.7.1
torchelastic==0.2.1
torchvision==0.8.2
tornado==6.2
tqdm==4.31.1
traitlets @ file:///tmp/build/80754af9/traitlets_1602787416690/work
typing==3.7.4.3
typing-extensions @ file:///tmp/build/80754af9/typing_extensions_1598376058250/work
typing-inspect==0.8.0
urllib3 @ file:///tmp/build/80754af9/urllib3_1603305693037/work
utils==1.0.1
vcdvcd==1.0.5
virtualenv==20.17.1
wcwidth @ file:///tmp/build/80754af9/wcwidth_1593447189090/work
webencodings==0.5.1
websocket-client==1.4.2
wget==3.2
widgetsnbextension==4.0.5
zipp==3.11.0
